

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Arial",
    monospace;
}

#body{
  color: grey;
}

.skillElement{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.experienceTracker{
  display: block;
  width: 40%;
  bottom: 40px;
  top: 100px;
}

.skillElement {
  width:200px;
  height:200px;
  position: relative;
  top: 50%;
  left: 50%;
}


/*Styles for the sidemenu buttons */
.tree-type{
  background-color: Transparent;
  color: black;
  border: 2px solid #4CAF50;
  width: 250px;
  height: 50px;
}

.SideBar{
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #c2c2d6;
  overflow-x: hidden;
}

.EquipmentBar{
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c2c2d6;
  overflow-x: hidden;
}

.navigator_button_container{
  position: relative;
  min-height: 150px;
}

.navigator_button{
  position: absolute;
  bottom: 0;
  right:25%;
  left:50%;
  margin-left:-150px;
}



.side_button{
  width: 75px;
  height: 75px;
}
.equipment_button{
  width: 75px;
  height: 75px;
}
